.DS_Store
.idea
*.iml
*.class
build
dispatcher/logs
service/bin
*.rt
*.ptc
service/logs
*.out
*.log
dispatcher/bin
out
post.sh
prep.sh
domain-local.json
domain-origin.json
messages.db
contacts.db
ContactService.db
MessagingService.db
test-contacts.db
dispatcher/cube-fs-files
service/storage/files
FileStorageService.db
*.db
cube-service-fileprocessor-3.0.jar
cube-service-filestorage-3.0.jar
cube-service-messaging-3.0.jar
cube-service-multipointcomm-3.0.jar
cube-common-3.0.jar
cube-dispatcher-3.0.jar
cube-service-3.0.jar
cube-service-riskmgmt-3.0.jar
pid
tag_dispatcher_pid
tag_service_pid
tag_service
tag_dispatcher
dispatcher_copy.properties
dispatcher_copy.xml
