.DS_Store
*.class
build
dispatcher/logs
service/bin
*.rt
*.ptc
service/logs
*.out
*.log
dispatcher/bin
out
post.sh
prep.sh
domain-local.json
domain-origin.json
messages.db
contacts.db
ContactService.db
MessagingService.db
test-contacts.db
dispatcher/cube-fs-files
service/storage/files
FileStorageService.db
*.db
cube-service-fileprocessor-3.0.jar
cube-service-filestorage-3.0.jar
cube-service-messaging-3.0.jar
cube-service-multipointcomm-3.0.jar
cube-common-3.0.jar
cube-dispatcher-3.0.jar
cube-service-3.0.jar
cube-service-riskmgmt-3.0.jar
pid
tag_dispatcher_pid
tag_service_pid
tag_service
tag_dispatcher
dispatcher_copy.properties
dispatcher_copy.xml
token-pool_copy.properties
contact-cache_copy.properties
general-cache_copy.properties
cube-service-conference-3.0.jar
console_dev.properties
server_dev.properties
cipher_dev.properties
storage_dev.json
multipoint-comm_dev.properties
service/storage/tmp
dispatcher/cube-media-files
service/storage/hub
dispatcher/cube-hub-files
tag_cube-ferryboat
tag_cube-ferryhouse
ferryhouse/c1cd96771a9a61351958e23bd6afcbef
dispatcher/qrcode-files
service/assets/robot/tmp
service/assets/data/model
service/assets/data/dictionary
service/assets/psychology/daturaflower
