.DS_Store
.idea
*.iml
*.class
build
dispatcher/logs
service/bin
*.rt
*.ptc
service/logs
*.out
*.log
dispatcher/bin
out
post.sh
prep.sh
domain-local.json
domain-origin.json
messages.db
contacts.db
ContactService.db
MessagingService.db
test-contacts.db
dispatcher/cube-fs-files
service/storage/files
FileStorageService.db
*.db
