/* console.css */

.h-400px {
    height: 400px;
}

.log-view {
    font-size: 12px;
    font-family: Menlo, "Courier New", Courier, monospace;
    overflow: auto;
    height: 360px;
}

.log-view p {
    margin: 0;
}

.chart-color-1 {
    color: #3c8dbc !important;
}
.chart-color-2 {
    color: #d2d6de !important;
}
