html {
    overflow-x: hidden;
}

body {
    background: #FFFFFF;
    font-size: 14px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.main {
    text-align: center;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    max-width: 600px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.preview {
    width: 100%;
    padding: 0;
    margin: 0;
}
.container {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
}
.page {
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-bottom: solid #ddd 1px;
}
.page img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.page-head {
    height: 44px;
}
.page-tail {
    height: 72px;
}

.header {
    text-align: center;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #F5F5F5;
    border-bottom: solid #ccc 1px;
    z-index: 9;
}

.footer {
    text-align: center;
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
}

.item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.file-icon {
    border-radius: 10px;
    max-width: 300px;
}

.file-name {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.file-size {
    font-size: 14px;
}

.title {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    margin: 12px 10px 10px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.operation {
    margin: 16px 0px 16px 0px;
}
.col {
    display: inline-block;
}
.col-blank {
    display: inline-block;
    width: 20%;
}

.btn {
    width: 130px;
    height: 40px;
    background: #287DF6;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
}

.toast {
    text-align: center;
    width: 100%;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 999;
}
.toast-content {
    display: table;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    width: 280px;
    height: 100px;
    background: #202020;
    margin: auto;
}
.toast-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #F5F5F5;
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes toast-show-anim
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}
@-webkit-keyframes toast-show-anim
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}

@keyframes toast-hide-anim
{
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes toast-hide-anim
{
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0;
    }
}
